$maroon: #561f37;
$snow: #FFFBFF;

.card {
  font-size: x-large;
  display: inline-block;
  background: $snow;
  border: 2px $maroon solid;
  border-radius: 10%;
  box-shadow: 2px 2px 8px #333;
  margin: auto;
}
@media (min-width: 800px) {
.card{
  height: 15vw;
  width: 10vw;
}
}
