<div class="columns-container">
  <mat-grid-list
    [cols]="breakpoint"
    rowHeight="2:1"
    [gutterSize]="gutter"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile>
      <div class="column">
        <div class="column-icon">
          <mat-icon
            class="column-icon-element"
            aria-hidden="false"
            aria-label="Person icon"
            >person</mat-icon
          >
        </div>
        <h3 class="column-header">25</h3>
        <p class="column-text">dieticians</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="column">
        <div class="column-icon">
          <mat-icon
            class="column-icon-element"
            aria-hidden="false"
            aria-label="Menu icon"
            >menu_book</mat-icon
          >
        </div>
        <h3 class="column-header">>100</h3>
        <p class="column-text">recipies</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="column">
        <div class="column-icon">
          <mat-icon
            class="column-icon-element"
            aria-hidden="false"
            aria-label="Shopping cart icon"
            >shopping_cart</mat-icon
          >
        </div>
        <h3 class="column-header">unlimited</h3>
        <p class="column-text">shopping list</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
