button{
  align-self: center;
  width: 33vw;
  height: 33vw;
  font-size: xxx-large;
  margin-top: 100px;
  border: 16px dashed #000;
  min-width: 175px;
  min-height: 175px;
}

@media (max-width: 640px) {
button{
  font-size: xx-large;}
}
