<main id="game">
  <section id="croupier"><div class="score">Dealer's hand: <strong>{{sum(dealersHand)}}</strong></div>
    <app-card [card]='dealersHand[0]'></app-card>
    <app-card  *ngIf='dealersHand.length > 1' [card]='dealersHand[1]'></app-card> <ng-template><div *ngIf='dealersHand < 2' class="reverse"></div>
  </ng-template>
    <app-card  *ngIf='dealersHand.length > 2' [card]='dealersHand[2]'></app-card>
    <app-card  *ngIf='dealersHand.length > 3' [card]='dealersHand[3]'></app-card>
    <app-card  *ngIf='dealersHand.length > 4' [card]='dealersHand[4]'></app-card>
    <app-card  *ngIf='dealersHand.length > 5' [card]='dealersHand[5]'></app-card>
  </section>
  <section id="player"><div class="score">Player's hand: <strong>{{sum(playersHand)}}</strong></div></section>
  <app-card [card]='playersHand[0]'></app-card>
  <app-card [card]='playersHand[1]'></app-card>
  <app-card *ngIf='playersHand.length >= 3' [card]='playersHand[2]'></app-card>
  <app-card *ngIf='playersHand.length >= 4' [card]='playersHand[3]'></app-card>
  <app-card *ngIf='playersHand.length >= 5' [card]='playersHand[4]'></app-card>
  <app-hit-button (click)='playerHits()'></app-hit-button><app-stand-button (click)='playerStands()'></app-stand-button>
</main>


