$maroon: #561f37;
$gold: #bfae48;

#hitBtn{
  font-size: medium;
  height: 64px;
  width: 64px;
  box-shadow: 2px 2px 8px #333;
  margin: 4px;
  border: 4px dashed $gold;
  background-color: $maroon;
  color: $gold;
}
