<div>
  <h2 class="register-header">Register</h2>
  <form (ngSubmit)="onRegister()" class="login-form">
    <input
      type="email"
      placeholder="Email"
      id="emailRegister"
      [(ngModel)]="email"
      name="email"
    />
    <input
      type="password"
      placeholder="Password"
      id="passwordRegister"
      [(ngModel)]="password"
      name="password"
      minlength="6"
    />
    <div class="buttons">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="register-btn"
      >
        Register
      </button>
      <button class="login-btn" mat-stroked-button color="basic">
        <a class="router-link" routerLink="/login">Login</a>
      </button>
    </div>
  </form>
</div>
