.item {
  margin-bottom: 10px;
}
.important {
  background-color: #673ab7;
  color: #fff;
}
.list-element-title {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}
.list-element-description {
  overflow-wrap: break-word;
}
