<app-banner></app-banner>
<app-sec-pic-left
  photoUrl="../../../../../assets/eaters-collective-12eHC6FxPyg-unsplash.jpg"
  leftContainerHeader="Our philosophy"
  leftContainerText="Baguetti is a health and nutrition program that works with you to create a custom meal plan based on your goals, health conditions, personal preferences and genetics. "
></app-sec-pic-left>
<app-sec-pic-right
  photoUrl="../../../../../assets/brooke-lark-HlNcigvUi4Q-unsplash.jpg"
  rightContainerHeader="Our recipies"
  rightContainerText="Login to get access to hundreds of recipies created by our specialists. Our dieticians have analyzed, created and tested all of our meals to make sure that they will not only be healthy but also tasty."
></app-sec-pic-right>
<app-sec-pic-left
  photoUrl="../../../../../assets/edgar-castrejon-1SPu0KT-Ejg-unsplash.jpg"
  leftContainerHeader="Our specialists"
  leftContainerText="Know that planning is the key to success. That's why we have implemented a shopping list, which you can use to plan your expenses in advance and buy only the food you need."
></app-sec-pic-left>
<app-columns></app-columns>
<app-form-section></app-form-section>
