$gold: #bfae48;

.home {
  background-color: #333;
  color: $gold;
  border-style: none;
  border-color: $gold;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23BFAE48FF' stroke-width='10%' stroke-dasharray='25%25%2c 10%25' stroke-dashoffset='62' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 100px;
}