$maroon: #561f37;
$gold: #bfae48;

#hitBtn{
  box-shadow: 2px 2px 8px #333;
  margin: 1vw;
  background-color: $maroon;
  color: $gold;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23BFAE48FF' stroke-width='10%' stroke-dasharray='25%25%2c 10%25' stroke-dashoffset='62' stroke-linecap='butt'/%3e%3c/svg%3e");
}
