// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$green: #285943;
$gold: #bfae48;
$maroon: #561f37;

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  max-width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

body {
  min-width: 180px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: block;
  background-color: $green;
}

header {
  border-bottom: 10px ridge $maroon;
  background-color: #333;
}

button {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 2px 2px 8px $maroon;
  font-weight: bold;
  transition: rotate 1s ease-in-out;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%' height='100%' fill='none' rx='50%' ry='50%' stroke='black' stroke-width='10%' stroke-dasharray='25%25%2c 10%25' stroke-dashoffset='62' stroke-linecap='butt'/%3e%3c/svg%3e");
}

h1 {
  color: $gold;
  text-shadow: 2px 2px 8px $maroon;
  margin: auto;
  padding-top: 10px;
  line-height: 75%!important;
}

@media (min-width: 800px) {
  main{
    max-height: 90%;
  }
  h1{   font-size: xxx-large;
  }
  .home, button {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px){
  .home, button {
    width: 64px;
    height: 64px;
    font-size: small;
  }

  .card {
    height: 120px;
    width: 80px;
  }

  .score {
    opacity: 90%;
    font-size: large;
  }
  h1{
    font-size: x-large!important;
  }
}
