.lists-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  min-height: 70vh;
}
.list-container {
  width: 16vw;
}
.button-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.list-header {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 5px;
  color: #ffab00;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
.list-element-header {
  font-size: 1.2 rem;
  font-weight: 300;
  letter-spacing: 5px;
  color: #ffab00;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  .lists-container {
    flex-direction: column;
  }
  .list-container {
    width: 100vw;
    margin-bottom: 30px;
  }
}
